@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@800&display=swap');
.columns{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    
    justify-content: center;
    align-items: center;
}

.logo{
    display:flex;
    align-items: center;
    justify-content: center;
}

button{
    font-family: 'Open Sans', sans-serif;
    
    
}